<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ssbcon" connectionString="Data Source=WIN-DR8DS3BT4V1\SQLEXPRESS;Initial Catalog=SuperSecureBank;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<!--
//connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=C:\Users\joe\Dropbox\Tools\SuperSecureBank\SuperSecureBank\App_Data\Database1.mdf;User Instance=true"
-->
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
	</system.webServer>
</configuration>
